server:
  port: 5000

spring:
  application:
    name: gateway-server

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: BOOKING-SERVICE
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**

        - id: PAYMENT-SERVICE
          uri: lb://PAYMENT-SERVICE
          predicates:
            - Path=/api/payments/**

        - id: CATEGORY-SERVICE
          uri: lb://CATEGORY-SERVICE
          predicates:
            - Path=/api/categories/**

        - id: SALON-SERVICE
          uri: lb://SALON-SERVICE
          predicates:
            - Path=/salon/**, /api/salons/**,/api/admin/salons/**

        - id: SERVICE-OFFERING
          uri: lb://SERVICE-OFFERING
          predicates:
            - Path=/api/service-offering/**

        - id: USER_SERVICE
          uri: lb://USER-SERVICE
          predicates:
            - Path=/auth/**
            - Path=/api/admin/users/**
            - Path=/api/users/**
            - Path=/users/**


eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka/